<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HS14-Blog - Start Bootstrap Theme</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
        <text x="0" y="40" font-size="40" font-family="Arial" fill="black"></text>
    </svg>

    <style>

        body {
            background-color: #FFC017; /* Beyaz arkaplan */
            color: #333;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><text x="0" y="40" font-size="40" font-family="Arial" fill="black">M</text></svg>'); /* SVG desen */
            background-size: 20px 20px;
        }

        header {
            background-color: #FFC017;
            color: white;
        }

        footer {
            background-color: #FFC017;
            color: white;
            padding: 1rem 0;
        }

        .container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-custom {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-align: center;
        }

            .btn-custom:hover {
                background-color: #555;
            }
    </style>
</head>
<body>
 

    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1><strong>Stay curious.</strong></h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p><strong>Discover stories, thinking, and expertise from writers on any topic.</strong></p>
                </div>
            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
                <a class="btn btn-custom" asp-area="" asp-controller="Home" asp-action="Index">Start reading &rarr;</a>
            </div>
            <hr>
        </main>
    </div>



    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/clean-blog.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Diğer scriptler buraya eklenebilir -->
</body>
</html>
